<div class="home__container">
    <app-card gameCover = "assets/bt-1.jpg" gameLabel="Digital" gameType="Disc | PS4 | PS5" gamePrice="199,99"></app-card>
    <app-card gameCover = "assets/bt-4.jpg" gameLabel="Exclusivo" gameType="Digital | PS4 | PS5"  gamePrice="179,99"></app-card>
    <app-card gameCover = "assets/bt-5.jpg" gameLabel="Digital" gameType="Digital | PS4 | PS5"  gamePrice="289,99"></app-card>
    <app-card gameCover="assets/ac-cover.jpg" gameLabel="Digital" gameType="Disc | PS4" gamePrice="129,99"></app-card>
</div>